/*实时编辑*/
.markdown-source-view span.cm-inline-code {
	padding:4px;
	border-width:1px;
	border-style: solid;
	border-radius: 5px;
	font-weight: bold;
}
.theme-light .markdown-source-view span.cm-inline-code {
	color:black;
	background-color: #00000015;
}
.theme-dark .markdown-source-view span.cm-inline-code{
	color:white;
	background-color: #ffffff27;
}
/*阅读模式*/
div p code {
	padding:4px;
	border-width:1px;
	border-style: solid;
	border-radius: 5px;
	font-weight: bold;
}
.theme-light div p code {
	color:black;
	background-color: #00000015;
}
.theme-dark div p code {
	color:white;
	background-color: #ffffff27;
}